## TO LIST ALL IGNORED FILES RUN THIS:
#
# git ls-files --others -i --exclude-standard

.vagrant/
log/
**/*.swp
config.rb
user-data

# Personal files (and secrets) 
## ... ignore specific files
files/homedir/.gitconfig

## ... ignore everything under a dir
files/homedir/.aws/*
files/homedir/.devbox.profile.d/*
files/homedir/.gnupg/*
files/homedir/.ssh/*
files/homedir/profile.d/*

## ... re-include ignored stuff under an excluded dir
!**/*.md
!files/homedir/profile.d/devbox.sh
!files/homedir/profile.d/gnupg.sh
!files/homedir/.devbox.profile.d/bash_completion.sh
!files/homedir/.devbox.profile.d/gnupg.sh
!files/homedir/.devbox.profile.d/vimrc.sh

